main {
    background-image: url(images/code_hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.first {
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    grid-auto-rows: 1fr;
    grid-gap: 20px;
    
}
.second {
    background-image:  url(images/phone.png), url(images/featuring.jpg);
    background-repeat: no-repeat;
    background-size: 250px,cover ;
    background-position: center;
    
    
}
.questions {
    background-image: url(images/faq.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.about p, .questions h1 {
    margin: 0;
}
.figure{ 
    display: grid;
    grid-template-columns: repeat(2,1fr) ;
    grid-auto-rows: 1fr;
    grid-gap: 20px;
}
.figure figure {
    text-align: center;
    color: white;
}
.second p {
    text-align: center;
}
header {
    background-color: rgba(38, 27, 27, 0.9);
   
}

header img {
    padding: 10px 10px 10px 100px;
}
p span{
    color: rgb(40,200,229);
    
}
#phone {
    text-align: center;
}
#phone img {
    width : 200px;
    height : 200px;
}
header p {
    float: right;
    text-align: right;
    margin: 0;
    color: white;
    padding: 30px 100px 30px 30px;
}
h1 {
    margin-bottom: 0;
}
main p {
    margin-top: 5px;
}
.learn h1 {
    font-size: 40px;
}
.learn p {
    font-size: 20px;
}
.info {
    background-color: rgba(249, 249, 249, 0.6);
    text-align: center;
    border-radius: 10px;
    width: 400px ;
    height: 170px;
}
.info h1 {
    margin-top: 5px;
}
input {
    border: solid;
    border-top: none;
    border-left: none;
    border-bottom: thick line;
    border-right: none;
    background: transparent;
    text-align: center;
    margin-bottom: 5px;
}
button {
    width: 95%;
    height: 2.5em ;
    background-color:rgb(40,200,229);
    border: none;
    border-radius: 5px;
    margin: 10px;
    font-size: 20px;
    color:white;
    
}
button img {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    align-items: center;
}
.coding, .data-analytics {
    text-align: right; 
    margin: 100px;
}
.learn {
    color:white;
    margin-top: 50px;
    margin-left: 100px;
}
div p, .data-analytics h2 {
    color: white;
}
.info p{
    color: black;
}
.info {
    margin: 50px;

}
.coding h2 {
    color: rgb(40,200,229);
}
.second img{
    width: 100px;
    height: 100px;
}
.second h1 {
    font-size: 40px;
    color:white;
    text-align: center;
    text-decoration: underline;
    margin-top:0;
    padding: 50px;
}
.about {
    padding: 0;
    margin: 0;
    text-align: center;
    background-image: url(images/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.about h1{
    color:rgb(40,200,229);
    margin:0;
    padding: 50px 50px 20px 50px;
    font-size: 40px;
    text-decoration: underline;
}
.about p {
    color:white;
    padding: 0px 20px 50px 20px;
}
#back {
    color: white;
    padding-bottom: 20px;
    margin: 0;
}
.questions h1 { 
    text-decoration: underline;
    padding-top: 30px;
    padding-left: 100px;
}
.questions ul {
    padding-left: 100px;
    margin-bottom: 0;
}
.unnested {
    list-style-image: url(images/chev-blue.svg);
    padding-bottom: 10px;
}
#six {
    list-style-image: url(images/chev-black.svg);
}

footer {
    background-color: rgb(40,200,229) ;
    height: 200px;
}
footer p {
    float: right;
    text-align: right;
    padding: 30px 50px 20px 20px;
}
footer img {
    padding: 60px;
}

